<!DOCTYPE html>
<html>
<style>
    .main {
        margin-left: 10%;
    }
</style>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}
    <div class="wrapper">
        <div>{% include 'header.html' %}</div>
        <div class="menu-wrapper">{% include 'menu.html' %}</div>
        <div class="content-header-wrapper main">{% block content_header %}{% endblock %}</div>
        <div class="content-wrapper main">{% block content %}{% endblock %}</div>
        <div>{% include 'footer.html' %}</div>
    </div>
{% endblock %}
</body>
</html>
