{% load static %}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col" style="width: 3%"></th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: center"><input class="form-check-input" type="checkbox"></td>
                    <td>Анюткин</td>
                    <td>Сергей</td>
                    <td>Васильевич</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary mr-2">Подробнее</a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center"><input class="form-check-input" type="checkbox"></td>
                    <td>Бирюков</td>
                    <td>Антон</td>
                    <td>Дмитриевич</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary mr-2">Подробнее</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
