{% extends 'base/create.html' %}
{% load bootstrap5 %}

{% block page_title %}IIS | Добавить отдел{% endblock %}
{% block page_name %}Добавить новый отдел{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'departments_list' %}">Отделы</a>
    </li>
    <li class="breadcrumb-item active">Новый отдел</li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>Введенные данные могут быть использованы в отчетных таблицах (название, описание, имя
                        руководителя).</p>
                    <form method="POST" action="" class="" id="id_department_add_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="text-right mt-5 d-flex justify-content-between">
                            <div>
                                <a href="{% url 'departments_list' %}" class="btn btn-danger">Отмена</a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary btn-md mb-3 mr-3" id="id-department-save"
                                        data-bs-toggle="modal" data-bs-target="#id-save-modal">Сохранить
                                </button>
                                <div class="modal fade" id="id-save-modal" tabindex="-1"
                                     aria-labelledby="saveModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="saveModalLabel">Вы уверены, что хотите
                                                    продолжить?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                После продолжения рекомендуется сделать выбранного руководителя
                                                пользователем, тогда он автоматически получит право редактирования
                                                отдела. Если указанный руководитель уже является пользователем, никакие
                                                дополнительные требования не требуются.<br>
                                                Выбранные активисты, которые являются пользователями или будут сделаны
                                                активистами, получат уровень доступа, указанный ранее.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Отмена
                                                </button>
                                                <button type="submit" class="btn btn-primary d-inline-block">Сохранить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
