{% extends 'base/list.html' %}

{% block page_title %}IIS | Отделы{% endblock %}
{% block page_name %}Отделы{% endblock %}

{% block filter_fields %}
    <div class="col-md-3">
        <div class="input-group mb-3 mr-3">
            <select class="form-select">
                <option value="0" selected>Все</option>
                <option value="1">Я руководитель</option>
                <option value="2">Я активист</option>
            </select>
            <button class="btn btn-primary" type="button">Фильтр</button>
        </div>
    </div>
{% endblock %}
{% block search_fields %}
    <div class="col-md-3">
        <div class="input-group mb-3 mr-3">
            <input type="text" class="form-control" placeholder="Введите название">
            <button class="btn btn-primary" type="button" id="id_search_button">Поиск</button>
        </div>
    </div>
{% endblock %}
{% block add_button1 %}
    {% if user.is_superuser %}
        <div class="mb-3 mr-3 col-md-2 offset-md-4">
            <div class="d-flex justify-content-end">
                <a href="{% url 'departments_add' %}" class="btn btn-primary">Добавить новый
                    отдел</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
