{% extends 'base/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        {% block filter_fields %}{% endblock %}
                        {% block search_fields %}{% endblock %}
                        {% block add_button %}{% endblock %}
                    </div>
                    <div>
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block additional_js %}
    <script>
        $(function () {
            $('.previous').children().first().html('<span aria-hidden="true">«</span>');
            $('.next').children().first().html('<span aria-hidden="true">»</span>');
        })
    </script>
{% endblock %}
